<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245377988977-5rarnphmtnr5rrd976nhn2i5lismu1om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245377988977-5rarnphmtnr5rrd976nhn2i5lismu1om</string>
	<key>API_KEY</key>
	<string>AIzaSyDUMu8WvXx9MSsdZ3o8b96JA0cwbrYNKmM</string>
	<key>GCM_SENDER_ID</key>
	<string>245377988977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kazuyasasakura.fact</string>
	<key>PROJECT_ID</key>
	<string>fuct-98f82</string>
	<key>STORAGE_BUCKET</key>
	<string>fuct-98f82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245377988977:ios:80ddee8062d3685d805ed0</string>
</dict>
</plist>